.disable-merge-button .BtnGroup .BtnGroup-item {
  pointer-events: none;
  color: rgba(36,41,46,0.4);
  background-color: #eff3f6;
  background-image: none;
  border-color: rgba(27,31,35,0.2);
  box-shadow: none;
  cursor: default;
  background-position: 0 0;
}

.disable-merge-button .alt-merge-options:before {
  content: "Merges in this repo need to be signed";
  color: #cb2431;
  display: block;
}
